.haut
{
    height: 50px;
    width: 100%;
    background-color: deepskyblue;
};
#align-text
{
    text-align: center;
    width: 100%;
};
#cote
{
    background-color: rgb(0, 0, 0);
    
    width:  500px;
    float: left;
margin: 0 10px 10px 0;
}
.espace
{
    text-indent: 1%;
}
#page
{
    width: 100%;
}
.divlongue
{
    background-color: brown;
    width: 100%;
    
}

 