body
{
    background-color: moccasin;
}
.haut
{
    width: 100%;
    background-color: lightseagreen;
    min-height: 5%;
     

}
#page
{
    width: 100%;
}
.divlongue
{
    width: 100%;
    
    
}
#cote
{
    background-color: gray;
    width:  300px;
    float: left;
    margin: 0 20px 20px 0;
    min-height: 847px;  
    box-sizing: border-box;
}
.espace   
{
    text-indent: 1%;
    line-height: 2em;
}
.align-text
{
    text-align: center;
    font-size: xx-large;
    
}
html,body 
{
     height:100%;
}
@media all and (max-width:480px)
{
    .divlongue
    #cote
}