#haut
{
    height: 50px;
    width: 100%;
    background-color: deepskyblue;
};
#align-text
{
    text-align: center;
    width: 100%;
};
#cote
{
    margin: 0 10;
    float: left;
    width: 100%;
}


 