.haut
{
    width: 100%;
    background-color: blue;
     

}
#page
{
    width: 100%;
}
.divlongue
{
    width: 100%;
    background-color: burlywood;
    
}
#cote
{
    background-color: brown;
    width:  300px;
    float: left;
    margin: 0 20px 20px 0;
   
}
.espace
{
    text-indent: 1%;
    line-height: 2em;
}
.align-text
{
    text-align: center;
    font-size: xx-large;
    
}